@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px');
	body {
  text-align: left;
  background-image: url("../images/thundercloud6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-family: 'Slabo 27px', serif;
  font-weight: bold;
  font-size:20px;
  padding: 100px;
  width: 900px;
}

p {
  font-size: 16px;
}

nav{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;	
	color: white;	
}

nav a {
	color: white;
	text-decoration: none;
}

nav a:hover {
	color:#f706a4;
}

#style{
	list-style-type: none
}

#description{
}

#headline{
	color:000;
	font-family:'Slabo 27px', serif; 
	font-size:68px;
}

#slogan{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size:27px;
	font-style:italic;
	font-weight:normal;
	background-color: #f706a4;
	padding: 10px; 
	width:300px;
}

#two_column {
	background-color: rgba(255, 255,255, 0.5);
	padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
	background-color: rgba(255, 255,255, 0.75);
	padding: 20px;
	float: left;
	width: 25%;
	font-family: 'Raleway', sans-serif;
	line-height:1em;
}

#right {
    padding: 20px;
    float: right;
    width: 60%;
    font-family: 'Raleway', sans-serif;
}

#about{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
	line-height:1.5em;
	margin:1em;
	display: inline-block;
}
article a {
	color:black;
	text-decoration: none;
}
article a:hover {
	color:#f706a4;
}

#contact{
	color:#000;
	font-size:24px;
	font-weight: 800;
}
#contact a{
	color: #000;
}

#contact a:hover {
	color:#f706a4;
}
footer p{
		float: right;
		padding-right: 380px;
		padding-top: 45px;
}
.wrapper{
	width:95%;
	margin: 0 auto;
}