	body {
  text-align: left;
  background-image: url("../images/thundercloud6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-family: Arial,sans-serif;font-weight: bold;
  padding-left: 700px; padding-right:100px; padding-top: 200px
}
hr {
  width:200px;
}
p {
  font-size: 30px;
}
#slogan{font-size:24px;font-style:italic;font-weight:normal;background-color: #f706a4;padding-left: 5px}

#about{font-size:16px;font-style:normal;font-weight:normal}

#contact{font-size:18px;font-weight:bold;text-decoration: underline}
